<h1 mat-dialog-title>HighScores</h1>
<div mat-dialog-content>
  <table #table class="table table-striped table-bordered table-hover ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody *ngFor="let highScore of highScores">
      <tr>
        <td>{{ highScore.name }}</td>
        <td>{{ highScore.time | date:"mm:ss:SSS" }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn" [mat-dialog-close]>Close</button>
</div>
