<table #table class="table table-striped table-bordered table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Times played</th>
      <th scope="col">High scores</th>
      <th scope="col">Play</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody *ngFor="let track of tracks">
    <tr>
      <td>{{ track.name }}</td>
      <td>{{ track.description }}</td>
      <td>{{ track.timesPlayed }}</td>
      <td>
        <button class="btn oi oi-external-link" (click)="showHighScores(track._id)"></button>
      </td>
      <td>
        <button class="btn oi oi-media-play" (click)="play(track._id)"></button>
      </td>
      <td>
        <button class="btn oi oi-eye" (click)="view(track._id)"></button>
      </td>
    </tr>
  </tbody>
</table>
<input [(ngModel)] = "message">
<button (click) = "apply(this.message)">apply</button>
