div {
    width: 100%;
    height: 800px;
}

ul, li {
    position: relative;
    margin: 0;
    top: 40px;
    color: orange;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}